@font-face {
    font-family: 'BannyRound';
    src: url('../fonts/Web Font Kit/Banny-Round.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Web Font Kit/Banny-BoldRound.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Web Font Kit/Banny-Round.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Web Font Kit/Banny-Round.woff') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Web Font Kit/Banny-BoldRound.svg') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }