/*----------------Specialties---------------*/

.section__title {
	color: #fff;
	font-size: 12px;
	font-family: 'Open-Sans', sans-serif;
	text-align: center;
	padding-top: 43px;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-left: 11px;
    
}


.specialties {
    width: 100%;
	max-width: 1440px;
	height: 675px;
    background-image: url("../img/specialties/specialty\'s-bg.jpg");
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0 auto;
    position: relative;

		&__inner {
			width: 100%;
			max-width: 1280px;
			height: 475px;
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
			padding-top: 0;
		}

		&__img {
			width: 50%;
			padding-left: 5px;
			position: relative;
		}

		&__item {
			width: 50%;
        text-align: center;
        padding-top: 158px;
        position: relative;
		}

		&__title {
			font-family: 'BannyRound', sans-serif;
			font-size: 36px;
			line-height: 1.3;
			color: #fff;
			text-transform: uppercase;
			margin-bottom: 30px;
			margin-left: 40px;
		}

        &__title::after {
			content: "";
			position: absolute;
			width: 64.19px;
			height: 7px;
			left: 306.58px;
			top: 213px;
			z-index: 4;
	
			background: #E8C300;
			border-radius: 50px;
		}

		&__sabtitle {
			font-family: 'Open-Sans', sans-serif;
			font-size: 18px;
			line-height: 1.5;
			font-weight: 500;
			margin-bottom: 21px;
			color: #fff;
            letter-spacing: 1px;
            padding: 0 16px 0 38px;
        }
		

		&__text {
			font-family: 'Open-Sans', sans-serif;
			font-size: 14px;
			line-height: 1.7;
			font-weight: 400;
			color: #fff;
		}
}

.specialties-img {

		&__img {
			position: absolute;
			top: -9px;
			left: 76px;
			z-index: 10;
		}

		&__img2 {
			position: absolute;
			top: 47px;
			left: -80px;
			z-index: 11;
		}
}
.specialties {

    &__circle {
        display: flex;
        position: absolute;
        bottom: 45px;
        left: 679px;
    
    }
}
.specialties {

    &__circle--1 {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background-color: #fff;
        margin-right: 25px;
    }

    &__circle--2 {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background-color: #fff;
        margin-right: 25px;
    }

    &__circle--3 {width: 10px;
        height: 10px;
        border-radius: 50px;
        background-color: #fff;

    }
}
